In [1]:
from pathlib import Path
from scipy import stats

import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns

np.set_printoptions(suppress=True)

pd.options.display.max_columns = None
pd.options.display.max_rows = None
pd.options.display.max_colwidth = None

from sklearn.linear_model import LogisticRegression

from IPython.display import display, Markdown

In [2]:
path1 = Path(r"A:\Workspace\Python\Masterarbeit\Kaggle Home Credit Datensatz")
path2 = Path(r"C:\Users\rober\Documents\Workspace\Python\Masterarbeit\Kaggle Home Credit Datensatz")

if path1.is_dir():
    DATASET_DIR = path1
else:
    DATASET_DIR = path2

In [4]:
pos = pd.read_csv(DATASET_DIR / "POS_CASH_balance.csv")
ip = pd.read_csv(DATASET_DIR / "installments_payments.csv")
cc = pd.read_csv(DATASET_DIR / "credit_card_balance.csv")

In [5]:
pos_id = pos.SK_ID_PREV.unique() 
ip_id = ip.SK_ID_PREV.unique()
cc_id = cc.SK_ID_PREV.unique()

In [13]:
print(len(pos_id))
print(len(ip_id))
print(len(cc_id))

936325
997752
104307

In [14]:
len(np.intersect1d(pos_id, ip_id))

924949

In [15]:
len(np.intersect1d(pos_id, cc_id))

0

In [16]:
len(np.intersect1d(ip_id, cc_id))

72466

In [19]:
np.intersect1d(ip_id, cc_id)

array([1000018, 1000030, 1000031, ..., 2843478, 2843493, 2843496],
      dtype=int64)

In [23]:
cc[cc["SK_ID_PREV"] == 1000018].sort_values("MONTHS_BALANCE")

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_DRAWINGS_ATM_CURRENT,AMT_DRAWINGS_CURRENT,AMT_DRAWINGS_OTHER_CURRENT,AMT_DRAWINGS_POS_CURRENT,AMT_INST_MIN_REGULARITY,AMT_PAYMENT_CURRENT,AMT_PAYMENT_TOTAL_CURRENT,AMT_RECEIVABLE_PRINCIPAL,AMT_RECIVABLE,AMT_TOTAL_RECEIVABLE,CNT_DRAWINGS_ATM_CURRENT,CNT_DRAWINGS_CURRENT,CNT_DRAWINGS_OTHER_CURRENT,CNT_DRAWINGS_POS_CURRENT,CNT_INSTALMENT_MATURE_CUM,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
1375415,1000018,394447,-6,38879.145,45000,13500.0,51042.645,0.0,37542.645,0.00,9000.000,9000.000,37542.645,37542.645,37542.645,3.0,15,0.0,12.0,0.0,Active,0,0
277653,1000018,394447,-5,40934.070,45000,0.0,2335.500,0.0,2335.500,2250.00,3900.870,3900.870,39576.780,40934.070,40934.070,0.0,2,0.0,2.0,1.0,Active,0,0
2559582,1000018,394447,-4,44360.505,45000,0.0,2032.560,0.0,2032.560,2250.00,3646.710,3646.710,43376.760,44360.505,44360.505,0.0,2,0.0,2.0,2.0,Active,0,0
2192275,1000018,394447,-3,113862.285,135000,13500.0,69156.945,0.0,55656.945,2263.77,3190.635,3190.635,108091.800,109150.785,109150.785,3.0,14,0.0,11.0,3.0,Active,0,0
2159094,1000018,394447,-2,136695.420,135000,0.0,22827.330,0.0,22827.330,6206.67,7970.535,7970.535,132903.000,136024.920,136024.920,0.0,11,0.0,11.0,4.0,Active,0,0

In [22]:
ip[ip["SK_ID_PREV"] == 1000018].sort_values("NUM_INSTALMENT_NUMBER")

,SK_ID_PREV,SK_ID_CURR,NUM_INSTALMENT_VERSION,NUM_INSTALMENT_NUMBER,DAYS_INSTALMENT,DAYS_ENTRY_PAYMENT,AMT_INSTALMENT,AMT_PAYMENT
10410104,1000018,394447,0.0,1,-161.0,-161.0,4500.000,4500.000
10144085,1000018,394447,0.0,2,-160.0,-160.0,4500.000,4500.000
9261361,1000018,394447,0.0,3,-130.0,-132.0,2250.000,2250.000
10021185,1000018,394447,0.0,4,-132.0,-132.0,900.000,900.000
11420878,1000018,394447,0.0,5,-125.0,-125.0,750.870,750.870
10937218,1000018,394447,0.0,6,-99.0,-101.0,2250.000,2250.000
7771709,1000018,394447,0.0,7,-101.0,-101.0,1350.000,1350.000
9555327,1000018,394447,0.0,8,-96.0,-96.0,46.710,46.710
11022049,1000018,394447,0.0,9,-68.0,-69.0,2263.770,2263.770
8990488,1000018,394447,0.0,10,-69.0,-69.0,886.230,886.230
9485219,1000018,394447,0.0,11,-63.0,-63.0,40.635,40.635
11468006,1000018,394447,0.0,12,-38.0,-39.0,6206.670,6206.670
9631039,1000018,394447,0.0,13,-39.0,-39.0,543.330,543.330
8187315,1000018,394447,0.0,14,-33.0,-33.0,1220.535,1220.535
9468693,1000018,394447,0.0,15,-7.0,-7.0,6938.370,6938.370
11034991,1000018,394447,0.0,16,-7.0,-7.0,261.630,261.630
9808730,1000018,394447,0.0,17,-4.0,-4.0,349.155,349.155