# Datentransformation Previous Application

Ziel dieser Datenaufbereitung ist es alle Variablen so in einen Datensatz zu überführen.

In [22]:
from pathlib import Path
from scipy import stats

import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns

np.set_printoptions(suppress=True)

pd.options.display.max_columns = None
pd.options.display.max_rows = None
pd.options.display.max_colwidth = None

from IPython.display import display, Markdown

In [23]:
path1 = Path(r"A:\Workspace\Python\Masterarbeit\Kaggle Home Credit Datensatz")
path2 = Path(r"C:\Users\rober\Documents\Workspace\Python\Masterarbeit\Kaggle Home Credit Datensatz")

if path1.is_dir():
    DATASET_DIR = path1
else:
    DATASET_DIR = path2

In [24]:
app_train = pd.read_csv(DATASET_DIR / "application_train.csv")
POS_CASH_balance = pd.read_csv(DATASET_DIR / "POS_CASH_balance.csv")
des = pd.read_csv(DATASET_DIR / "HomeCredit_columns_description.csv", encoding="latin", index_col=0)

In [25]:
todo = list(POS_CASH_balance.columns)

In [26]:
POS_CASH_balance.head()

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,CNT_INSTALMENT,CNT_INSTALMENT_FUTURE,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
0,1803195,182943,-31,48.0,45.0,Active,0,0
1,1715348,367990,-33,36.0,35.0,Active,0,0
2,1784872,397406,-32,12.0,9.0,Active,0,0
3,1903291,269225,-35,48.0,42.0,Active,0,0
4,2341044,334279,-35,36.0,35.0,Active,0,0

#### Keine Datenaufbereitung für Primär- und Fremdschlüssel

In [27]:
keys = ["SK_ID_CURR", "SK_ID_PREV"]

In [28]:
todo = [element for element in todo if element not in keys]

#### Datenaufbereitung metrische Daten

In [29]:
m_heads = [element for element in todo if POS_CASH_balance[element].dtype.name != "object"]

##### Gruppierung

In [30]:
quants = [0, 0.25, 0.5, 0.75, 1]

In [31]:
for index, head in enumerate(m_heads):
    
    df = POS_CASH_balance[["SK_ID_CURR", head]]
    df = df.groupby(by = ["SK_ID_CURR"]).quantile(quants)
    df = df.unstack(level=-1)
    
    try:
        mets = mets.join(df , on = "SK_ID_CURR")
    except (ValueError, NameError):
        mets = df

In [32]:
# Löschen der metrischen Daten aus der TODO Liste
todo = [element for element in todo if element not in m_heads]

In [33]:
mets.head()

           MONTHS_BALANCE                           CNT_INSTALMENT         \
                     0.00   0.25  0.50   0.75  1.00           0.00   0.25
SK_ID_CURR
100001              -96.0 -94.00 -57.0 -55.00 -53.0            4.0   4.00
100002              -19.0 -14.50 -10.0  -5.50  -1.0           24.0  24.00
100003              -77.0 -70.25 -26.5 -22.75 -18.0            6.0   6.00
100004              -27.0 -26.25 -25.5 -24.75 -24.0            3.0   3.75
100005              -25.0 -22.50 -20.0 -17.50 -15.0            9.0  12.00

                             CNT_INSTALMENT_FUTURE                            \
            0.50  0.75  1.00                  0.00   0.25  0.50   0.75  1.00
SK_ID_CURR
100001       4.0   4.0   4.0                   0.0   0.00   1.0   2.00   4.0
100002      24.0  24.0  24.0                   6.0  10.50  15.0  19.50  24.0
100003      12.0  12.0  12.0                   0.0   2.75   6.0   9.00  12.0
100004       4.0   4.0   4.0                   0.0   1.50   2.5   3.25   4.0
100005      12.0  12.0  12.0                   0.0   5.25   7.5   9.75  12.0

           SK_DPD                     SK_DPD_DEF
             0.00 0.25 0.50 0.75 1.00       0.00 0.25 0.50 0.75 1.00
SK_ID_CURR
100001        0.0  0.0  0.0  0.0  7.0        0.0  0.0  0.0  0.0  7.0
100002        0.0  0.0  0.0  0.0  0.0        0.0  0.0  0.0  0.0  0.0
100003        0.0  0.0  0.0  0.0  0.0        0.0  0.0  0.0  0.0  0.0
100004        0.0  0.0  0.0  0.0  0.0        0.0  0.0  0.0  0.0  0.0
100005        0.0  0.0  0.0  0.0  0.0        0.0  0.0  0.0  0.0  0.0

#### Datenaufbereitung kategorische Daten

In [34]:
cat_heads = [element for element in todo if POS_CASH_balance[element].dtype.name == "object"]

In [35]:
for index, head in enumerate(cat_heads):
    
    df = POS_CASH_balance[["SK_ID_CURR", head]]
    df = df.groupby(["SK_ID_CURR", head]).size()
    df = df.unstack()
    
    try:
        cats = cats.join(a , on="SK_ID_CURR")
    except (ValueError, NameError):
        cats = df

In [36]:
# Löschen der metrischen Daten aus der TODO Liste
todo = [element for element in todo if element not in cat_heads]

In [37]:
cats.head()

NAME_CONTRACT_STATUS,Active,Amortized debt,Approved,Canceled,Completed,Demand,Returned to the store,Signed,XNA
SK_ID_CURR,,,,,,,,,
100001,7.0,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN
100002,19.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100003,26.0,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN
100004,3.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
100005,9.0,NaN,NaN,NaN,1.0,NaN,NaN,1.0,NaN

#### Zusammenführung metrischer und kategorischer Daten

In [38]:
POS_CASH_balance = mets.join(cats, on = "SK_ID_CURR")

c:\users\rober\documents\workspace\python\masterarbeit\venv\lib\site-packages\pandas\core\reshape\merge.py:643: UserWarning: merging between different levels can give an unintended result (2 levels on the left,1 on the right)
  warnings.warn(msg, UserWarning)

In [39]:
POS_CASH_balance.head()

,"(MONTHS_BALANCE, 0.0)","(MONTHS_BALANCE, 0.25)","(MONTHS_BALANCE, 0.5)","(MONTHS_BALANCE, 0.75)","(MONTHS_BALANCE, 1.0)","(CNT_INSTALMENT, 0.0)","(CNT_INSTALMENT, 0.25)","(CNT_INSTALMENT, 0.5)","(CNT_INSTALMENT, 0.75)","(CNT_INSTALMENT, 1.0)","(CNT_INSTALMENT_FUTURE, 0.0)","(CNT_INSTALMENT_FUTURE, 0.25)","(CNT_INSTALMENT_FUTURE, 0.5)","(CNT_INSTALMENT_FUTURE, 0.75)","(CNT_INSTALMENT_FUTURE, 1.0)","(SK_DPD, 0.0)","(SK_DPD, 0.25)","(SK_DPD, 0.5)","(SK_DPD, 0.75)","(SK_DPD, 1.0)","(SK_DPD_DEF, 0.0)","(SK_DPD_DEF, 0.25)","(SK_DPD_DEF, 0.5)","(SK_DPD_DEF, 0.75)","(SK_DPD_DEF, 1.0)",Active,Amortized debt,Approved,Canceled,Completed,Demand,Returned to the store,Signed,XNA
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
100001,-96.0,-94.00,-57.0,-55.00,-53.0,4.0,4.00,4.0,4.0,4.0,0.0,0.00,1.0,2.00,4.0,0.0,0.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0,7.0,7.0,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN
100002,-19.0,-14.50,-10.0,-5.50,-1.0,24.0,24.00,24.0,24.0,24.0,6.0,10.50,15.0,19.50,24.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,19.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100003,-77.0,-70.25,-26.5,-22.75,-18.0,6.0,6.00,12.0,12.0,12.0,0.0,2.75,6.0,9.00,12.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,26.0,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN
100004,-27.0,-26.25,-25.5,-24.75,-24.0,3.0,3.75,4.0,4.0,4.0,0.0,1.50,2.5,3.25,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
100005,-25.0,-22.50,-20.0,-17.50,-15.0,9.0,12.00,12.0,12.0,12.0,0.0,5.25,7.5,9.75,12.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.0,NaN,NaN,NaN,1.0,NaN,NaN,1.0,NaN

### Abspeichern der Daten

In [40]:
POS_CASH_balance.to_csv(DATASET_DIR / "Datengruppierung" / "POS_CASH_balance.csv")

In [41]:
todo

[]