# Initialisierung

In [1]:
from pathlib import Path
from scipy import stats

import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns

np.set_printoptions(suppress=True)

pd.options.display.max_columns = None
pd.options.display.max_rows = None
pd.options.display.max_colwidth = None

from IPython.display import display, Markdown

In [2]:
path1 = Path(r"A:\Workspace\Python\Masterarbeit\Kaggle Home Credit Datensatz")
path2 = Path(r"C:\Users\rober\Documents\Workspace\Python\Masterarbeit\Kaggle Home Credit Datensatz")

if path1.is_dir():
    DATASET_DIR = path1
else:
    DATASET_DIR = path2

In [3]:
app_train = pd.read_csv(DATASET_DIR / "application_train.csv")
installments_payments = pd.read_csv(DATASET_DIR / "installments_payments.csv")
description = pd.read_csv(DATASET_DIR / "HomeCredit_columns_description.csv", encoding="latin", index_col=0)

In [5]:
description.loc[description['Table']=="installments_payments.csv", "Row":"Special"]

,Row,Description,Special
214,SK_ID_PREV,"ID of previous credit in Home credit related to loan in our sample. (One loan in our sample can have 0,1,2 or more previous loans in Home Credit)",hashed
215,SK_ID_CURR,ID of loan in our sample,hashed
216,NUM_INSTALMENT_VERSION,Version of installment calendar (0 is for credit card) of previous credit. Change of installment version from month to month signifies that some parameter of payment calendar has changed,NaN
217,NUM_INSTALMENT_NUMBER,On which installment we observe payment,NaN
218,DAYS_INSTALMENT,When the installment of previous credit was supposed to be paid (relative to application date of current loan),time only relative to the application
219,DAYS_ENTRY_PAYMENT,When was the installments of previous credit paid actually (relative to application date of current loan),time only relative to the application
220,AMT_INSTALMENT,What was the prescribed installment amount of previous credit on this installment,NaN
221,AMT_PAYMENT,What the client actually paid on previous credit on this installment,NaN

# Datenaufbereitung

In [7]:
installments_payments["AMT_DIFF"] = installments_payments["AMT_INSTALMENT"] - installments_payments["AMT_PAYMENT"]

In [8]:
# Schnittmenge zwischen app_train und bureau
# Erg√§nzt die Variable "TARGET" in dem bureau-Datensatz
installments_payments = pd.merge(installments_payments, app_train[["SK_ID_CURR","TARGET"]] ,on="SK_ID_CURR")

# Austausch der numerischen Kategorien durch sprechende, interpretierbare Variablen
installments_payments["TARGET"].replace(
    {
        0: "Payback",
        1: "Default"
    }, inplace = True
)

# Unterteilung des Datensatzen nach Payback und Default
payback = installments_payments[installments_payments["TARGET"] == "Payback"]
default = installments_payments[installments_payments["TARGET"] == "Default"]

In [11]:
installments_payments.head()

,SK_ID_PREV,SK_ID_CURR,NUM_INSTALMENT_VERSION,NUM_INSTALMENT_NUMBER,DAYS_INSTALMENT,DAYS_ENTRY_PAYMENT,AMT_INSTALMENT,AMT_PAYMENT,AMT_DIFF,TARGET
0,1054186,161674,1.0,6,-1180.0,-1187.0,6948.360,6948.360,0.0,Payback
1,2452854,161674,1.0,21,-546.0,-552.0,11302.605,11302.605,0.0,Payback
2,1054186,161674,1.0,2,-1300.0,-1307.0,6948.360,6948.360,0.0,Payback
3,1682318,161674,1.0,2,-240.0,-243.0,7374.510,7374.510,0.0,Payback
4,2452854,161674,1.0,10,-876.0,-882.0,11302.605,11302.605,0.0,Payback

# Datenanalyse

In [14]:
display(Markdown("### Payback"))
print(len(payback[payback["AMT_DIFF"] > 0]["AMT_DIFF"]) / len(payback["AMT_DIFF"] * 100))

display(Markdown("### Default"))
print(len(default[default["AMT_DIFF"] > 0]["AMT_DIFF"]) / len(default["AMT_DIFF"] * 100))

### Payback

0.0942998816487836

### Default

0.12476299427550942

In der Vergangenheit kam es in 0.09% der zur√ºckzahlenden Kunden zu unerwarteten Zahlungssummen.

In der Vergangenheit kam es in 0.12% der ausfallenden Kunden zu unerwarteten Zahlungssummen.