In [1]:
from pathlib import Path
from scipy import stats

import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns

np.set_printoptions(suppress=True)

pd.options.display.max_columns = None
pd.options.display.max_rows = None
pd.options.display.max_colwidth = None

from sklearn.linear_model import LogisticRegression

from IPython.display import display, Markdown

import json

In [2]:
path1 = Path(r"A:\Workspace\Python\Masterarbeit\Kaggle Home Credit Datensatz")
path2 = Path(r"C:\Users\rober\Documents\Workspace\Python\Masterarbeit\Kaggle Home Credit Datensatz")

if path1.is_dir():
    DATASET_DIR = path1
else:
    DATASET_DIR = path2

In [3]:
MODEL_APPLICATION = "1.1. Esembler_Logistic_application.json"
MODEL_BUREAU = "1.2. Esembler_Logistic_bureau.json"
MODEL_PA_POS = "1.3. Esembler_Logistic_pa_pos.json"
MODEL_PA_IP = "1.4. Esembler_Logistic_pa_ip.json"
MODEL_PA_CC = "1.5. Esembler_Logistic_pa_cc.json"

In [4]:
with open(DATASET_DIR / "Models" / MODEL_APPLICATION, 'r') as file:
    application_log = json.load(file)
    
with open(DATASET_DIR / "Models" / MODEL_BUREAU, 'r') as file:
    bureau_log = json.load(file)
    
with open(DATASET_DIR / "Models" / MODEL_PA_POS, 'r') as file:
    pa_pos_log = json.load(file)
    
with open(DATASET_DIR / "Models" / MODEL_PA_IP, 'r') as file:
    pa_ip_log = json.load(file)
    
with open(DATASET_DIR / "Models" / MODEL_PA_CC, 'r') as file:
    pa_cc_log = json.load(file)

LOG_LIST = [application_log, bureau_log, pa_pos_log, pa_ip_log, pa_cc_log]

In [5]:
MODEL_APPLICATION = "2.1. Esembler_DecisionTree_Application.json"
MODEL_BUREAU = "2.2. Esembler_DecisionTree_bureau.json"
MODEL_PA_POS = "2.3. Esembler_DecisionTree_pa_pos.json"
MODEL_PA_IP = "2.4. Esembler_DecisionTree_pa_ip.json"
MODEL_PA_CC = "2.5. Esembler_DecisionTree_pa_cc.json"

In [6]:
with open(DATASET_DIR / "Models" / MODEL_APPLICATION, 'r') as file:
    application_dt = json.load(file)
    
with open(DATASET_DIR / "Models" / MODEL_BUREAU, 'r') as file:
    bureau_dt = json.load(file)
    
with open(DATASET_DIR / "Models" / MODEL_PA_POS, 'r') as file:
    pa_pos_dt = json.load(file)
    
with open(DATASET_DIR / "Models" / MODEL_PA_IP, 'r') as file:
    pa_ip_dt = json.load(file)
    
with open(DATASET_DIR / "Models" / MODEL_PA_CC, 'r') as file:
    pa_cc_dt = json.load(file)

DT_LIST = [application_dt, bureau_dt, pa_pos_dt, pa_ip_dt, pa_cc_dt]

In [7]:
MODEL_APPLICATION = "3.1. Esembler_RandomForest_Application.json"
MODEL_BUREAU = "3.2. Esembler_RandomForest_bureau.json"
MODEL_PA_POS = "3.3. Esembler_RandomForest_pa_pos.json"
MODEL_PA_IP = "3.4. Esembler_RandomForest_pa_ip.json"
MODEL_PA_CC = "3.5. Esembler_RandomForest_pa_cc.json"

In [8]:
with open(DATASET_DIR / "Models" / MODEL_APPLICATION, 'r') as file:
    application_rf = json.load(file)
    
with open(DATASET_DIR / "Models" / MODEL_BUREAU, 'r') as file:
    bureau_rf = json.load(file)
    
with open(DATASET_DIR / "Models" / MODEL_PA_POS, 'r') as file:
    pa_pos_rf = json.load(file)
    
with open(DATASET_DIR / "Models" / MODEL_PA_IP, 'r') as file:
    pa_ip_rf = json.load(file)
    
with open(DATASET_DIR / "Models" / MODEL_PA_CC, 'r') as file:
    pa_cc_rf = json.load(file)

RF_LIST = [application_rf, bureau_rf, pa_pos_rf, pa_ip_rf, pa_cc_rf]

# Anzahl Parameter

In [34]:
df = pd.DataFrame({"Datensatz":["Application", "Bureau", "PA_POS", "PA_IP", "PA_CC"]})
df = df.set_index("Datensatz")
df["# Parameter"] = [len(x["keep"]) + len(x["drop"]) for x in LOG_LIST]

df["# Parameter log. R."] = [len(x["keep"]) for x in LOG_LIST]
df["AUC log. R."] = [round(x["auc"][-1],4) for x in LOG_LIST]
df["# Parameter DT"] = [len(x["keep"]) for x in DT_LIST]
df["AUC DT"] = [round(x["auc"][-1],4) for x in DT_LIST]
df["# Parameter RF"] = [len(x["keep"]) for x in RF_LIST]
df["AUC RF"] = [round(x["auc"][-1],4) for x in RF_LIST]

df.loc["SUM"] = [df["# Parameter"].sum(), df["# Parameter log. R."].sum(), "-", df["# Parameter DT"].sum(), "-", df["# Parameter RF"].sum(), "-"]
df

SUM # Parameter: 137
SUM # Parameter log. R.: 101
SUM # Parameter DT: 60
SUM # Parameter RF: 82

,# Parameter,# Parameter log. R.,AUC log. R.,# Parameter DT,AUC DT,# Parameter RF,AUC RF
Datensatz,,,,,,,
Application,35,29,0.7868,12,0.8007,10,0.8131
Bureau,9,6,0.5926,6,0.5996,7,0.6125
PA_POS,21,20,0.6354,12,0.6168,17,0.6361
PA_IP,37,24,0.6294,16,0.6075,27,0.6362
PA_CC,35,22,0.6224,14,0.6346,21,0.6509
SUM,137,101,-,60,-,82,-

# Application

In [10]:
log = application_log["keep"]
dt = application_dt["keep"]
rf = application_rf["keep"]

In [35]:
df = pd.DataFrame()
df = pd.concat([df,pd.DataFrame({"logistische Regression":log})],axis=1)
df = pd.concat([df,pd.DataFrame({"Entscheidungsbaum":dt})],axis=1)
df = pd.concat([df,pd.DataFrame({"Random Forest":rf})],axis=1)
df[0:10]

,logistische Regression,Entscheidungsbaum,Random Forest
0,A_EXT_SOURCE_1,A_EXT_SOURCE_3,A_EXT_SOURCE_3
1,A_DAYS_BIRTH,A_AMT_REQ_CREDIT_BUREAU_DAY,A_EXT_SOURCE_1
2,A_EXT_SOURCE_3,A_DAYS_BIRTH,A_EXT_SOURCE_2
3,A_LANDAREA_AVG,A_EXT_SOURCE_1,A_AMT_REQ_CREDIT_BUREAU_DAY
4,A_EXT_SOURCE_2,A_EXT_SOURCE_2,A_AMT_REQ_CREDIT_BUREAU_HOUR
5,A_TOTALAREA_MODE,A_AMT_REQ_CREDIT_BUREAU_QRT,A_YEARS_BEGINEXPLUATATION_AVG
6,A_AMT_CREDIT,A_AMT_REQ_CREDIT_BUREAU_WEEK,A_DAYS_EMPLOYED
7,A_AMT_ANNUITY,A_BASEMENTAREA_AVG,A_DAYS_BIRTH
8,A_CREDIT/INCOME,A_LANDAREA_AVG,A_BASEMENTAREA_AVG
9,A_CODE_GENDER,A_AMT_ANNUITY,A_LANDAREA_AVG

In [36]:
df

,logistische Regression,Entscheidungsbaum,Random Forest
0,A_EXT_SOURCE_1,A_EXT_SOURCE_3,A_EXT_SOURCE_3
1,A_DAYS_BIRTH,A_AMT_REQ_CREDIT_BUREAU_DAY,A_EXT_SOURCE_1
2,A_EXT_SOURCE_3,A_DAYS_BIRTH,A_EXT_SOURCE_2
3,A_LANDAREA_AVG,A_EXT_SOURCE_1,A_AMT_REQ_CREDIT_BUREAU_DAY
4,A_EXT_SOURCE_2,A_EXT_SOURCE_2,A_AMT_REQ_CREDIT_BUREAU_HOUR
5,A_TOTALAREA_MODE,A_AMT_REQ_CREDIT_BUREAU_QRT,A_YEARS_BEGINEXPLUATATION_AVG
6,A_AMT_CREDIT,A_AMT_REQ_CREDIT_BUREAU_WEEK,A_DAYS_EMPLOYED
7,A_AMT_ANNUITY,A_BASEMENTAREA_AVG,A_DAYS_BIRTH
8,A_CREDIT/INCOME,A_LANDAREA_AVG,A_BASEMENTAREA_AVG
9,A_CODE_GENDER,A_AMT_ANNUITY,A_LANDAREA_AVG
10,A_DAYS_EMPLOYED,A_AMT_INCOME_TOTAL,NaN
11,A_FLAG_DOCUMENT_3,A_ORGANIZATION_TYPE,NaN
12,A_REGION_POPULATION_RELATIVE,NaN,NaN
13,A_BASEMENTAREA_AVG,NaN,NaN
14,A_REGION_RATING_CLIENT,NaN,NaN
15,A_YEARS_BEGINEXPLUATATION_AVG,NaN,NaN
16,A_ORGANIZATION_TYPE,NaN,NaN
17,A_FLAG_EMP_PHONE,NaN,NaN
18,A_DEF_60_CNT_SOCIAL_CIRCLE,NaN,NaN
19,A_NAME_INCOME_TYPE,NaN,NaN
20,A_AMT_INCOME_TOTAL,NaN,NaN
21,A_AMT_REQ_CREDIT_BUREAU_QRT,NaN,NaN
22,A_DAYS_ID_PUBLISH,NaN,NaN
23,A_AMT_REQ_CREDIT_BUREAU_DAY,NaN,NaN
24,A_AMT_REQ_CREDIT_BUREAU_HOUR,NaN,NaN
25,A_AMT_REQ_CREDIT_BUREAU_MON,NaN,NaN
26,A_AMT_REQ_CREDIT_BUREAU_YEAR,NaN,NaN
27,A_OBS_60_CNT_SOCIAL_CIRCLE,NaN,NaN
28,A_OCCUPATION_TYPE,NaN,NaN

In [12]:
a = np.intersect1d(log, dt)
a = np.intersect1d(a, rf)
a

array(['A_AMT_REQ_CREDIT_BUREAU_DAY', 'A_BASEMENTAREA_AVG',
       'A_DAYS_BIRTH', 'A_EXT_SOURCE_1', 'A_EXT_SOURCE_2',
       'A_EXT_SOURCE_3', 'A_LANDAREA_AVG'], dtype='<U29')

# Bureau

In [37]:
log = bureau_log["keep"]
dt = bureau_dt["keep"]
rf = bureau_rf["keep"]

In [38]:
df = pd.DataFrame()
df = pd.concat([df,pd.DataFrame({"logistische Regression":log})],axis=1)
df = pd.concat([df,pd.DataFrame({"Entscheidungsbaum":dt})],axis=1)
df = pd.concat([df,pd.DataFrame({"Random Forest":rf})],axis=1)
df[0:10]

     logistische Regression      Entscheidungsbaum             Random Forest
0                  B_Closed               B_Closed                  B_Active
1                  B_Active               B_Active                  B_Closed
2      B_CREDIT_DAY_OVERDUE       B_AMT_CREDIT_SUM          B_AMT_CREDIT_SUM
3  B_AMT_CREDIT_SUM_OVERDUE  B_DAYS_CREDIT_ENDDATE     B_AMT_CREDIT_SUM_DEBT
4     B_DAYS_CREDIT_ENDDATE  B_AMT_CREDIT_SUM_DEBT     B_DAYS_CREDIT_ENDDATE
5             B_AMT_ANNUITY             CNT_BURAEU  B_AMT_CREDIT_SUM_OVERDUE
6                       NaN                    NaN             B_AMT_ANNUITY

In [39]:
df

     logistische Regression      Entscheidungsbaum             Random Forest
0                  B_Closed               B_Closed                  B_Active
1                  B_Active               B_Active                  B_Closed
2      B_CREDIT_DAY_OVERDUE       B_AMT_CREDIT_SUM          B_AMT_CREDIT_SUM
3  B_AMT_CREDIT_SUM_OVERDUE  B_DAYS_CREDIT_ENDDATE     B_AMT_CREDIT_SUM_DEBT
4     B_DAYS_CREDIT_ENDDATE  B_AMT_CREDIT_SUM_DEBT     B_DAYS_CREDIT_ENDDATE
5             B_AMT_ANNUITY             CNT_BURAEU  B_AMT_CREDIT_SUM_OVERDUE
6                       NaN                    NaN             B_AMT_ANNUITY

In [40]:
a = np.intersect1d(log, dt)
a = np.intersect1d(a, rf)
a

array(['B_Active', 'B_Closed', 'B_DAYS_CREDIT_ENDDATE'], dtype='<U24')

# PA_POS

In [44]:
log = pa_pos_log["keep"]
dt = pa_pos_dt["keep"]
rf = pa_pos_rf["keep"]

In [45]:
df = pd.DataFrame()
df = pd.concat([df,pd.DataFrame({"logistische Regression":log})],axis=1)
df = pd.concat([df,pd.DataFrame({"Entscheidungsbaum":dt})],axis=1)
df = pd.concat([df,pd.DataFrame({"Random Forest":rf})],axis=1)
df[0:10]

,logistische Regression,Entscheidungsbaum,Random Forest
0,PA_AMT_CREDIT,PA_CNT_NAME_CONTRACT_STATUS_Refused,PA_CNT_NAME_CONTRACT_STATUS_Refused
1,PA_AMT_ANNUITY,PA_AMT_ANNUITY,PA_AMT_ANNUITY
2,PA_AMT_APPLICATION,PA_POS_CNT_DPD,PA_AMT_GOODS_PRICE
3,PA_AMT_GOODS_PRICE,PA_AMT_DOWN_PAYMENT,PA_AMT_DOWN_PAYMENT
4,PA_CNT_NAME_YIELD_GROUP_high,PA_CNT_NAME_PRODUCT_TYPE_walk-in,PA_CNT_NAME_PRODUCT_TYPE_walk-in
5,PA_CNT_NAME_CONTRACT_STATUS_Refused,PA_AMT_CREDIT,PA_POS_CNT_DPD
6,PA_CNT_CREDITS,PA_CNT_NAME_YIELD_GROUP_high,PA_AMT_CREDIT
7,PA_POS_CNT_PAYMENTS_LEFT,PA_CNT_NAME_CLIENT_TYPE_New,PA_RATE_DOWN_PAYMENT
8,PA_AMT_DOWN_PAYMENT,PA_POS_CNT_PAYMENTS_LEFT,PA_CNT_NAME_YIELD_GROUP_high
9,PA_CNT_PRODUCT_COMBINATION_POS industry with interest,PA_CNT_NAME_YIELD_GROUP_low_normal,PA_POS_CNT_PAYMENTS_LEFT

In [46]:
df

,logistische Regression,Entscheidungsbaum,Random Forest
0,PA_AMT_CREDIT,PA_CNT_NAME_CONTRACT_STATUS_Refused,PA_CNT_NAME_CONTRACT_STATUS_Refused
1,PA_AMT_ANNUITY,PA_AMT_ANNUITY,PA_AMT_ANNUITY
2,PA_AMT_APPLICATION,PA_POS_CNT_DPD,PA_AMT_GOODS_PRICE
3,PA_AMT_GOODS_PRICE,PA_AMT_DOWN_PAYMENT,PA_AMT_DOWN_PAYMENT
4,PA_CNT_NAME_YIELD_GROUP_high,PA_CNT_NAME_PRODUCT_TYPE_walk-in,PA_CNT_NAME_PRODUCT_TYPE_walk-in
5,PA_CNT_NAME_CONTRACT_STATUS_Refused,PA_AMT_CREDIT,PA_POS_CNT_DPD
6,PA_CNT_CREDITS,PA_CNT_NAME_YIELD_GROUP_high,PA_AMT_CREDIT
7,PA_POS_CNT_PAYMENTS_LEFT,PA_CNT_NAME_CLIENT_TYPE_New,PA_RATE_DOWN_PAYMENT
8,PA_AMT_DOWN_PAYMENT,PA_POS_CNT_PAYMENTS_LEFT,PA_CNT_NAME_YIELD_GROUP_high
9,PA_CNT_PRODUCT_COMBINATION_POS industry with interest,PA_CNT_NAME_YIELD_GROUP_low_normal,PA_POS_CNT_PAYMENTS_LEFT
10,PA_CNT_NAME_CONTRACT_TYPE_Revolving loans,PA_CNT_NAME_CONTRACT_TYPE_Revolving loans,PA_CNT_NAME_CLIENT_TYPE_New
11,PA_CNT_NAME_CLIENT_TYPE_New,PA_CNT_CREDITS,PA_CNT_NAME_YIELD_GROUP_low_normal
12,PA_RATE_DOWN_PAYMENT,NaN,PA_CNT_NAME_CONTRACT_TYPE_Revolving loans
13,PA_CNT_PRODUCT_COMBINATION_Cash X-Sell: low,NaN,PA_CNT_CREDITS
14,PA_POS_CNT_DPD,NaN,PA_CNT_PRODUCT_COMBINATION_Cash X-Sell: low
15,PA_CNT_NAME_CLIENT_TYPE_Refreshed,NaN,PA_CNT_NAME_CLIENT_TYPE_Refreshed
16,PA_CNT_NAME_YIELD_GROUP_low_normal,NaN,PA_CNT_PRODUCT_COMBINATION_POS industry with interest
17,PA_CNT_NAME_PORTFOLIO_Cards,NaN,NaN
18,PA_CNT_NAME_PRODUCT_TYPE_walk-in,NaN,NaN
19,PA_CNT_CODE_REJECT_REASON_HC,NaN,NaN

In [47]:
a = np.intersect1d(log, dt)
a = np.intersect1d(a, rf)
a

array(['PA_AMT_ANNUITY', 'PA_AMT_CREDIT', 'PA_AMT_DOWN_PAYMENT',
       'PA_CNT_CREDITS', 'PA_CNT_NAME_CLIENT_TYPE_New',
       'PA_CNT_NAME_CONTRACT_STATUS_Refused',
       'PA_CNT_NAME_CONTRACT_TYPE_Revolving loans',
       'PA_CNT_NAME_PRODUCT_TYPE_walk-in', 'PA_CNT_NAME_YIELD_GROUP_high',
       'PA_CNT_NAME_YIELD_GROUP_low_normal', 'PA_POS_CNT_DPD',
       'PA_POS_CNT_PAYMENTS_LEFT'], dtype='<U53')

# PA_IP

In [48]:
log = pa_ip_log["keep"]
dt = pa_ip_dt["keep"]
rf = pa_ip_rf["keep"]

In [49]:
df = pd.DataFrame()
df = pd.concat([df,pd.DataFrame({"logistische Regression":log})],axis=1)
df = pd.concat([df,pd.DataFrame({"Entscheidungsbaum":dt})],axis=1)
df = pd.concat([df,pd.DataFrame({"Random Forest":rf})],axis=1)
df[0:10]

,logistische Regression,Entscheidungsbaum,Random Forest
0,PA_AMT_ANNUITY,PA_CNT_NAME_PRODUCT_TYPE_walk-in,PA_CNT_NAME_PRODUCT_TYPE_walk-in
1,PA_AMT_CREDIT,PA_IP_DAYS_DIFF_30,PA_IP_DAYS_DIFF_60
2,PA_CNT_CREDITS,PA_CNT_NAME_CONTRACT_STATUS_Refused,PA_CNT_NAME_CONTRACT_STATUS_Refused
3,PA_CNT_NAME_CONTRACT_STATUS_Refused,PA_IP_DAYS_DIFF_180,PA_IP_DAYS_DIFF_30
4,PA_CNT_NAME_YIELD_GROUP_low_normal,PA_AMT_ANNUITY,PA_AMT_ANNUITY
5,PA_CNT_NAME_CONTRACT_TYPE_Revolving loans,PA_IP_DAYS_DIFF_60,PA_IP_DAYS_DIFF_120
6,PA_IP_DAYS_DIFF_60,PA_IP_AMT_DIFF_180,PA_IP_DAYS_DIFF_90
7,PA_CNT_NAME_PORTFOLIO_Cards,PA_IP_DAYS_DIFF_150,PA_IP_DAYS_DIFF_180
8,PA_CNT_NAME_CLIENT_TYPE_New,PA_CNT_NAME_YIELD_GROUP_low_normal,PA_AMT_CREDIT
9,PA_CNT_PRODUCT_COMBINATION_POS industry with interest,PA_RATE_DOWN_PAYMENT,PA_IP_PAYMENT_180

In [50]:
df

,logistische Regression,Entscheidungsbaum,Random Forest
0,PA_AMT_ANNUITY,PA_CNT_NAME_PRODUCT_TYPE_walk-in,PA_CNT_NAME_PRODUCT_TYPE_walk-in
1,PA_AMT_CREDIT,PA_IP_DAYS_DIFF_30,PA_IP_DAYS_DIFF_60
2,PA_CNT_CREDITS,PA_CNT_NAME_CONTRACT_STATUS_Refused,PA_CNT_NAME_CONTRACT_STATUS_Refused
3,PA_CNT_NAME_CONTRACT_STATUS_Refused,PA_IP_DAYS_DIFF_180,PA_IP_DAYS_DIFF_30
4,PA_CNT_NAME_YIELD_GROUP_low_normal,PA_AMT_ANNUITY,PA_AMT_ANNUITY
5,PA_CNT_NAME_CONTRACT_TYPE_Revolving loans,PA_IP_DAYS_DIFF_60,PA_IP_DAYS_DIFF_120
6,PA_IP_DAYS_DIFF_60,PA_IP_AMT_DIFF_180,PA_IP_DAYS_DIFF_90
7,PA_CNT_NAME_PORTFOLIO_Cards,PA_IP_DAYS_DIFF_150,PA_IP_DAYS_DIFF_180
8,PA_CNT_NAME_CLIENT_TYPE_New,PA_CNT_NAME_YIELD_GROUP_low_normal,PA_AMT_CREDIT
9,PA_CNT_PRODUCT_COMBINATION_POS industry with interest,PA_RATE_DOWN_PAYMENT,PA_IP_PAYMENT_180
10,PA_CNT_NAME_PRODUCT_TYPE_walk-in,PA_IP_PAYMENT_60,PA_AMT_APPLICATION
11,PA_CNT_NAME_CLIENT_TYPE_Refreshed,PA_IP_AMT_DIFF_120,PA_IP_AMT_DIFF_60
12,PA_AMT_APPLICATION,PA_CNT_CODE_REJECT_REASON_HC,PA_IP_AMT_DIFF_30
13,PA_AMT_DOWN_PAYMENT,PA_AMT_DOWN_PAYMENT,PA_IP_DAYS_DIFF_150
14,PA_CNT_PRODUCT_COMBINATION_Cash X-Sell: low,PA_CNT_PRODUCT_COMBINATION_Card Street,PA_CNT_NAME_YIELD_GROUP_low_normal
15,PA_RATE_DOWN_PAYMENT,PA_AMT_APPLICATION,PA_CNT_PRODUCT_COMBINATION_Cash X-Sell: low
16,PA_IP_DAYS_DIFF_180,NaN,PA_IP_PAYMENT_60
17,PA_IP_DAYS_DIFF_90,NaN,PA_IP_AMT_DIFF_180
18,PA_IP_PAYMENT_180,NaN,PA_IP_AMT_DIFF_90
19,PA_IP_DAYS_DIFF_150,NaN,PA_CNT_NAME_CONTRACT_TYPE_Revolving loans
20,PA_IP_PAYMENT_120,NaN,PA_IP_AMT_DIFF_150
21,PA_IP_PAYMENT_60,NaN,PA_CNT_NAME_CLIENT_TYPE_New
22,PA_IP_PAYMENT_150,NaN,PA_CNT_NAME_YIELD_GROUP_high
23,PA_IP_DAYS_DIFF_30,NaN,PA_CNT_NAME_PORTFOLIO_Cards
24,NaN,NaN,PA_CNT_NAME_CLIENT_TYPE_Refreshed
25,NaN,NaN,PA_CNT_PRODUCT_COMBINATION_POS industry with interest
26,NaN,NaN,PA_RATE_DOWN_PAYMENT

In [51]:
a = np.intersect1d(log, dt)
a = np.intersect1d(a, rf)
a

array(['PA_AMT_ANNUITY', 'PA_AMT_APPLICATION',
       'PA_CNT_NAME_CONTRACT_STATUS_Refused',
       'PA_CNT_NAME_PRODUCT_TYPE_walk-in',
       'PA_CNT_NAME_YIELD_GROUP_low_normal', 'PA_IP_DAYS_DIFF_150',
       'PA_IP_DAYS_DIFF_180', 'PA_IP_DAYS_DIFF_30', 'PA_IP_DAYS_DIFF_60',
       'PA_IP_PAYMENT_60', 'PA_RATE_DOWN_PAYMENT'], dtype='<U53')

# PA_CC

In [52]:
log = pa_cc_log["keep"]
dt = pa_cc_dt["keep"]
rf = pa_cc_rf["keep"]

In [53]:
df = pd.DataFrame()
df = pd.concat([df,pd.DataFrame({"logistische Regression":log})],axis=1)
df = pd.concat([df,pd.DataFrame({"Entscheidungsbaum":dt})],axis=1)
df = pd.concat([df,pd.DataFrame({"Random Forest":rf})],axis=1)
df[0:10]

,logistische Regression,Entscheidungsbaum,Random Forest
0,PA_AMT_ANNUITY,PA_CC_BALANCE_60,PA_CC_BALANCE_60
1,PA_AMT_CREDIT,PA_CNT_NAME_PRODUCT_TYPE_walk-in,PA_CC_BALANCE_30
2,PA_CC_DPD_30,PA_CC_BALANCE_90,PA_CC_BALANCE_90
3,PA_CC_BALANCE_180,PA_CNT_NAME_CONTRACT_STATUS_Refused,PA_CC_BALANCE_180
4,PA_CNT_NAME_CONTRACT_STATUS_Refused,PA_CC_PAYMENT_180,PA_CC_BALANCE_120
5,PA_CNT_NAME_YIELD_GROUP_low_normal,PA_CNT_PRODUCT_COMBINATION_Cash X-Sell: low,PA_CNT_NAME_PRODUCT_TYPE_walk-in
6,PA_CNT_NAME_CLIENT_TYPE_New,PA_CC_BALANCE_150,PA_CC_PAYMENT_60
7,PA_CC_BALANCE_60,PA_CC_DPD_30,PA_CC_PAYMENT_180
8,PA_CNT_NAME_PRODUCT_TYPE_walk-in,PA_CC_DPD_90,PA_CC_PAYMENT_120
9,PA_CNT_NAME_PORTFOLIO_Cards,PA_CC_PAYMENT_30,PA_CNT_NAME_CONTRACT_STATUS_Refused

In [54]:
df

,logistische Regression,Entscheidungsbaum,Random Forest
0,PA_AMT_ANNUITY,PA_CC_BALANCE_60,PA_CC_BALANCE_60
1,PA_AMT_CREDIT,PA_CNT_NAME_PRODUCT_TYPE_walk-in,PA_CC_BALANCE_30
2,PA_CC_DPD_30,PA_CC_BALANCE_90,PA_CC_BALANCE_90
3,PA_CC_BALANCE_180,PA_CNT_NAME_CONTRACT_STATUS_Refused,PA_CC_BALANCE_180
4,PA_CNT_NAME_CONTRACT_STATUS_Refused,PA_CC_PAYMENT_180,PA_CC_BALANCE_120
5,PA_CNT_NAME_YIELD_GROUP_low_normal,PA_CNT_PRODUCT_COMBINATION_Cash X-Sell: low,PA_CNT_NAME_PRODUCT_TYPE_walk-in
6,PA_CNT_NAME_CLIENT_TYPE_New,PA_CC_BALANCE_150,PA_CC_PAYMENT_60
7,PA_CC_BALANCE_60,PA_CC_DPD_30,PA_CC_PAYMENT_180
8,PA_CNT_NAME_PRODUCT_TYPE_walk-in,PA_CC_DPD_90,PA_CC_PAYMENT_120
9,PA_CNT_NAME_PORTFOLIO_Cards,PA_CC_PAYMENT_30,PA_CNT_NAME_CONTRACT_STATUS_Refused
10,PA_CNT_NAME_CONTRACT_TYPE_Revolving loans,PA_CC_DPD_180,PA_AMT_CREDIT
11,PA_CNT_PRODUCT_COMBINATION_POS industry with interest,PA_CC_DPD_120,PA_AMT_APPLICATION
12,PA_CC_DPD_60,PA_CNT_CODE_REJECT_REASON_HC,PA_AMT_GOODS_PRICE
13,PA_CC_PAYMENT_60,PA_CNT_CREDITS,PA_CNT_CODE_REJECT_REASON_HC
14,PA_CNT_NAME_CLIENT_TYPE_Refreshed,NaN,PA_CNT_NAME_YIELD_GROUP_high
15,PA_CC_DPD_180,NaN,PA_CNT_NAME_CLIENT_TYPE_New
16,PA_CC_PAYMENT_90,NaN,PA_CNT_PRODUCT_COMBINATION_Cash X-Sell: low
17,PA_CNT_CODE_REJECT_REASON_HC,NaN,PA_CNT_NAME_YIELD_GROUP_low_normal
18,PA_CC_BALANCE_30,NaN,PA_CNT_NAME_CLIENT_TYPE_Refreshed
19,PA_CC_PAYMENT_150,NaN,PA_CNT_PRODUCT_COMBINATION_POS industry with interest
20,PA_CC_BALANCE_150,NaN,PA_CC_DPD_180
21,PA_CNT_NAME_YIELD_GROUP_high,NaN,NaN

In [55]:
a = np.intersect1d(log, dt)
a = np.intersect1d(a, rf)
a

array(['PA_CC_BALANCE_60', 'PA_CC_DPD_180',
       'PA_CNT_CODE_REJECT_REASON_HC',
       'PA_CNT_NAME_CONTRACT_STATUS_Refused',
       'PA_CNT_NAME_PRODUCT_TYPE_walk-in'], dtype='<U53')