# Aufarbeitung der NAN Werte

Anwendung von iterativer Imputation zur Füllung fehlender Daten. Für jeden Datensatz wird eigene Imputation erstellt. Dies ist notwendig um nur die fehlenden Daten jener KN zu simulieren, die auch tatsächlich im Datensatz sind. Somit werden keine KN künstlich erstellt.

In [2]:
from pathlib import Path
from scipy import stats

import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns

np.set_printoptions(suppress=True)

pd.options.display.max_columns = None
pd.options.display.max_rows = None
pd.options.display.max_colwidth = None

from sklearn.linear_model import LogisticRegression

from IPython.display import display, Markdown

from sklearn import preprocessing

In [3]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

In [4]:
path1 = Path(r"A:\Workspace\Python\Masterarbeit\Kaggle Home Credit Datensatz")
path2 = Path(r"C:\Users\rober\Documents\Workspace\Python\Masterarbeit\Kaggle Home Credit Datensatz")

if path1.is_dir():
    DATASET_DIR = path1
else:
    DATASET_DIR = path2

In [5]:
app_train = pd.read_csv(DATASET_DIR / "3. Ausreißerbereinigung" / "app_train.csv")
bureau = pd.read_csv(DATASET_DIR / "3. Ausreißerbereinigung" / "bureau.csv")
pa_pos = pd.read_csv(DATASET_DIR / "3. Ausreißerbereinigung" / "pa_pos.csv")
pa_ip = pd.read_csv(DATASET_DIR / "3. Ausreißerbereinigung" / "pa_ip.csv")
pa_cc = pd.read_csv(DATASET_DIR / "3. Ausreißerbereinigung" / "pa_cc.csv")
description = pd.read_csv(DATASET_DIR / "HomeCredit_columns_description.csv", encoding="latin", index_col=0)

In [6]:
app_train = app_train.set_index("SK_ID_CURR")
bureau = bureau.set_index("SK_ID_CURR")
pa_pos = pa_pos.set_index("SK_ID_CURR")
pa_ip = pa_ip.set_index("SK_ID_CURR")
pa_cc = pa_cc.set_index("SK_ID_CURR")

In [7]:
len(app_train)

307511

In [8]:
app_train.head()

,TARGET,A_CODE_GENDER,A_NAME_INCOME_TYPE,A_NAME_EDUCATION_TYPE,A_FLAG_EMP_PHONE,A_OCCUPATION_TYPE,A_REGION_RATING_CLIENT,A_REG_CITY_NOT_WORK_CITY,A_ORGANIZATION_TYPE,A_FLAG_DOCUMENT_3,A_CNT_CHILDREN,A_OBS_60_CNT_SOCIAL_CIRCLE,A_DEF_60_CNT_SOCIAL_CIRCLE,A_AMT_REQ_CREDIT_BUREAU_HOUR,A_AMT_REQ_CREDIT_BUREAU_DAY,A_AMT_REQ_CREDIT_BUREAU_WEEK,A_AMT_REQ_CREDIT_BUREAU_MON,A_AMT_REQ_CREDIT_BUREAU_QRT,A_AMT_REQ_CREDIT_BUREAU_YEAR,A_AMT_INCOME_TOTAL,A_AMT_CREDIT,A_AMT_ANNUITY,A_REGION_POPULATION_RELATIVE,A_DAYS_BIRTH,A_DAYS_EMPLOYED,A_DAYS_REGISTRATION,A_DAYS_ID_PUBLISH,A_EXT_SOURCE_1,A_EXT_SOURCE_2,A_EXT_SOURCE_3,A_BASEMENTAREA_AVG,A_YEARS_BEGINEXPLUATATION_AVG,A_LANDAREA_AVG,A_NONLIVINGAREA_AVG,A_TOTALAREA_MODE,A_CREDIT/INCOME
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
100002,1,0,0,0,1,0,2,0,0,1,0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,1.0,202500.0,406597.5,24700.5,0.018801,-9461,-637.0,-3648.0,-2120.0,0.083037,0.262949,0.139376,0.0369,0.9722,0.0369,0.0000,0.0149,2.007889
100003,0,1,1,1,1,1,1,0,1,1,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,270000.0,1293502.5,35698.5,0.003541,-16765,-1188.0,-1186.0,-291.0,0.311267,0.622246,NaN,0.0529,0.9851,0.0130,0.0098,0.0714,4.790750
100004,0,0,0,0,1,0,2,0,2,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,67500.0,135000.0,6750.0,0.010032,-19046,-225.0,-4260.0,-2531.0,NaN,0.555912,0.729567,NaN,NaN,NaN,NaN,NaN,2.000000
100006,0,1,0,0,1,0,2,0,0,1,0,2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,135000.0,312682.5,29686.5,0.008019,-19005,-3039.0,-9833.0,-2437.0,NaN,0.650442,NaN,NaN,NaN,NaN,NaN,NaN,2.316167
100007,0,0,0,0,1,1,2,1,3,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,121500.0,513000.0,21865.5,0.028663,-19932,-3038.0,-4311.0,-3458.0,NaN,0.322738,NaN,NaN,NaN,NaN,NaN,NaN,4.222222

In [20]:
from datetime import datetime

In [21]:
print(datetime.now().hour, ":", datetime.now().minute)
x = app_train
imp = IterativeImputer(max_iter=500, random_state=0)
df = imp.fit_transform(x)
df = pd.DataFrame(df)
df.columns = app_train.columns.values
df.index = app_train.index
print(datetime.now().hour, ":", datetime.now().minute)

13 : 41
13 : 51

In [22]:
df.to_csv(DATASET_DIR / "4. FillNA" / "application.csv")

In [23]:
print(datetime.now().hour, ":", datetime.now().minute)
x = bureau
imp = IterativeImputer(max_iter=500, random_state=0)
df = imp.fit_transform(x)
df = pd.DataFrame(df)
df.columns = bureau.columns.values
df.index = bureau.index
print(datetime.now().hour, ":", datetime.now().minute)

13 : 51
13 : 51

In [24]:
df.to_csv(DATASET_DIR / "4. FillNA" / "bureau.csv")

In [25]:
print(datetime.now().hour, ":", datetime.now().minute)
x = pa_pos
imp = IterativeImputer(max_iter=500, random_state=0)
df = imp.fit_transform(x)
df = pd.DataFrame(df)
df.columns = pa_pos.columns.values
df.index = pa_pos.index
print(datetime.now().hour, ":", datetime.now().minute)

13 : 51
15 : 25

a:\workspace\python\masterarbeit\venv\lib\site-packages\sklearn\impute\_iterative.py:669: ConvergenceWarning: [IterativeImputer] Early stopping criterion not reached.
  warnings.warn("[IterativeImputer] Early stopping criterion not"

In [26]:
df.to_csv(DATASET_DIR / "4. FillNA" / "pa_pos.csv")

In [27]:
print(datetime.now().hour, ":", datetime.now().minute)
x = pa_ip
imp = IterativeImputer(max_iter=500, random_state=0)
df = imp.fit_transform(x)
df = pd.DataFrame(df)
df.columns = pa_ip.columns.values
df.index = pa_ip.index
print(datetime.now().hour, ":", datetime.now().minute)

15 : 25

a:\workspace\python\masterarbeit\venv\lib\site-packages\sklearn\impute\_iterative.py:669: ConvergenceWarning: [IterativeImputer] Early stopping criterion not reached.
  warnings.warn("[IterativeImputer] Early stopping criterion not"

18 : 40

In [28]:
df.to_csv(DATASET_DIR / "4. FillNA" / "pa_ip.csv")

In [29]:
print(datetime.now().hour, ":", datetime.now().minute)
x = pa_cc
imp = IterativeImputer(max_iter=500, random_state=0)
df = imp.fit_transform(x)
df = pd.DataFrame(df)
df.columns = pa_cc.columns.values
df.index = pa_cc.index
print(datetime.now().hour, ":", datetime.now().minute)

18 : 41
19 : 9

In [30]:
df.to_csv(DATASET_DIR / "4. FillNA" / "pa_cc.csv")