In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns

from pathlib import Path

pd.options.display.max_columns = None
pd.options.display.max_rows = None
pd.options.display.max_colwidth = None

from sklearn.linear_model import LogisticRegression

In [2]:
path1 = Path(r"A:\Workspace\Python\Masterarbeit\Kaggle Home Credit Datensatz")
path2 = Path(r"C:\Users\rober\Documents\Workspace\Python\Masterarbeit\Kaggle Home Credit Datensatz")

if path1.is_dir():
    DATASET_DIR = path1
else:
    DATASET_DIR = path2

In [3]:
app_train = pd.read_csv(DATASET_DIR / "application_train.csv")
pa = pd.read_csv(DATASET_DIR / "previous_application.csv")
des = pd.read_csv(DATASET_DIR / "HomeCredit_columns_description.csv", encoding="latin", index_col=0)

In [4]:
n_heads = [element for element in pa.columns if pa[element].dtype.name == "object"]

In [5]:
pa = pd.merge(pa, app_train[["SK_ID_CURR","TARGET"]] ,on="SK_ID_CURR")

In [6]:
df = pa[n_heads]
df.head()

,NAME_CONTRACT_TYPE,WEEKDAY_APPR_PROCESS_START,FLAG_LAST_APPL_PER_CONTRACT,NAME_CASH_LOAN_PURPOSE,NAME_CONTRACT_STATUS,NAME_PAYMENT_TYPE,CODE_REJECT_REASON,NAME_TYPE_SUITE,NAME_CLIENT_TYPE,NAME_GOODS_CATEGORY,NAME_PORTFOLIO,NAME_PRODUCT_TYPE,CHANNEL_TYPE,NAME_SELLER_INDUSTRY,NAME_YIELD_GROUP,PRODUCT_COMBINATION
0,Consumer loans,SATURDAY,Y,XAP,Approved,Cash through the bank,XAP,NaN,Repeater,Mobile,POS,XNA,Country-wide,Connectivity,middle,POS mobile with interest
1,Consumer loans,SATURDAY,Y,XAP,Refused,Cash through the bank,SCO,NaN,Repeater,Clothing and Accessories,POS,XNA,Regional / Local,Furniture,low_normal,POS industry with interest
2,Consumer loans,SUNDAY,Y,XAP,Approved,Cash through the bank,XAP,NaN,New,Furniture,POS,XNA,Stone,Furniture,middle,POS industry with interest
3,Cash loans,THURSDAY,Y,XNA,Approved,XNA,XAP,Unaccompanied,Repeater,XNA,Cash,x-sell,Contact center,XNA,low_action,Cash X-Sell: low
4,Cash loans,WEDNESDAY,Y,XNA,Approved,XNA,XAP,NaN,Repeater,XNA,Cash,x-sell,AP+ (Cash loan),XNA,low_normal,Cash X-Sell: low

In [7]:
result = {
          "header":[],
          "rate":[],
          "des":[]
         }
for key in df.keys():
    rate = df[key].isnull().sum() / len(df[key]) * 100
    if rate > 60:
        result["header"].append(key)
        result["rate"].append(rate)
        result["des"].append(des[des["Row"] == key]["Description"])

result = pd.DataFrame(result)
result

Empty DataFrame
Columns: [header, rate, des]
Index: []

In [8]:
list(result.header)

[]

In [9]:
n_heads = [head for head in n_heads if head not in list(result.header)]
df.head()

,NAME_CONTRACT_TYPE,WEEKDAY_APPR_PROCESS_START,FLAG_LAST_APPL_PER_CONTRACT,NAME_CASH_LOAN_PURPOSE,NAME_CONTRACT_STATUS,NAME_PAYMENT_TYPE,CODE_REJECT_REASON,NAME_TYPE_SUITE,NAME_CLIENT_TYPE,NAME_GOODS_CATEGORY,NAME_PORTFOLIO,NAME_PRODUCT_TYPE,CHANNEL_TYPE,NAME_SELLER_INDUSTRY,NAME_YIELD_GROUP,PRODUCT_COMBINATION
0,Consumer loans,SATURDAY,Y,XAP,Approved,Cash through the bank,XAP,NaN,Repeater,Mobile,POS,XNA,Country-wide,Connectivity,middle,POS mobile with interest
1,Consumer loans,SATURDAY,Y,XAP,Refused,Cash through the bank,SCO,NaN,Repeater,Clothing and Accessories,POS,XNA,Regional / Local,Furniture,low_normal,POS industry with interest
2,Consumer loans,SUNDAY,Y,XAP,Approved,Cash through the bank,XAP,NaN,New,Furniture,POS,XNA,Stone,Furniture,middle,POS industry with interest
3,Cash loans,THURSDAY,Y,XNA,Approved,XNA,XAP,Unaccompanied,Repeater,XNA,Cash,x-sell,Contact center,XNA,low_action,Cash X-Sell: low
4,Cash loans,WEDNESDAY,Y,XNA,Approved,XNA,XAP,NaN,Repeater,XNA,Cash,x-sell,AP+ (Cash loan),XNA,low_normal,Cash X-Sell: low

In [10]:
c = df[n_heads].corr(method='spearman') * 100

In [11]:
families = []
for i, row in c.iterrows():
    r = row[row > 70]
    if len(r) > 1 and set(r.index) not in families:
        print(r)
        print("\n")
        
        families.append(set(r.index))

In [12]:
result = {
          "family":[],
          "head":[],
          "r2":[],
          "na":[],
          "rate":[]
         }

for i, family in enumerate(families):
    headers = list(family)
    
    result["family"].append("")
    result["head"].append("")
    result["r2"].append("")
    result["na"].append("")
    result["rate"].append("")
    
    for head in headers:
        d = df[["TARGET"] + [head]]
        na = d[head].isna().sum() / len(d) * 100
        d = d.dropna()
        x = d[[head]]
        y = d[["TARGET"]]
        model = LogisticRegression().fit(x, y.values.ravel())
        r2 = round(model.score(x,y),5)
        
        result["family"].append(i)
        result["head"].append(head)
        result["r2"].append(round(r2,5))
        result["na"].append(round(na,2))
        result["rate"].append(r2/na)

In [13]:
result = pd.DataFrame(result)
result

Empty DataFrame
Columns: [family, head, r2, na, rate]
Index: []

In [14]:
result = {
    "head":[],
    "des":[]
}

for head in n_heads:
    result["head"].append(head)
    result["des"].append(des[des["Row"] == head]["Description"])
    
result = pd.DataFrame(result)
result

,head,des
0,NAME_CONTRACT_TYPE,"5 Identification if loan is cash or revolving 178 Contract product type (Cash loan, consumer loan [POS] ,...) of the previous application Name: Description, dtype: object"
1,WEEKDAY_APPR_PROCESS_START,"35 On which day of the week did the client apply for the loan 184 On which day of the week did the client apply for previous application Name: Description, dtype: object"
2,FLAG_LAST_APPL_PER_CONTRACT,"186 Flag if it was last application for the previous contract. Sometimes by mistake of client or our clerk there could be more applications for one single contract Name: Description, dtype: object"
3,NAME_CASH_LOAN_PURPOSE,"192 Purpose of the cash loan Name: Description, dtype: object"
4,NAME_CONTRACT_STATUS,"150 Contract status during the month 173 Contract status (active signed,...) on the previous credit 193 Contract status (approved, cancelled, ...) of previous application Name: Description, dtype: object"
5,NAME_PAYMENT_TYPE,"195 Payment method that client chose to pay for the previous application Name: Description, dtype: object"
6,CODE_REJECT_REASON,"196 Why was the previous application rejected Name: Description, dtype: object"
7,NAME_TYPE_SUITE,"14 Who was accompanying client when he was applying for the loan 197 Who accompanied client when applying for the previous application Name: Description, dtype: object"
8,NAME_CLIENT_TYPE,"198 Was the client old or new client when applying for the previous application Name: Description, dtype: object"
9,NAME_GOODS_CATEGORY,"199 What kind of goods did the client apply for in the previous application Name: Description, dtype: object"
10,NAME_PORTFOLIO,"200 Was the previous application for CASH, POS, CAR, Name: Description, dtype: object"
11,NAME_PRODUCT_TYPE,"201 Was the previous application x-sell o walk-in Name: Description, dtype: object"
12,CHANNEL_TYPE,"202 Through which channel we acquired the client on the previous application Name: Description, dtype: object"
13,NAME_SELLER_INDUSTRY,"204 The industry of the seller Name: Description, dtype: object"
14,NAME_YIELD_GROUP,"206 Grouped interest rate into small medium and high of the previous application Name: Description, dtype: object"
15,PRODUCT_COMBINATION,"207 Detailed product combination of the previous application Name: Description, dtype: object"

In [15]:
remove = ["WEEKDAY_APPR_PROCESS_START", "FLAG_LAST_APPL_PER_CONTRACT", "NAME_TYPE_SUITE","NAME_PRODUCT_TYPE"]
n_heads = [head for head in n_heads if head not in remove]

In [16]:
df[n_heads].head()

,NAME_CONTRACT_TYPE,NAME_CASH_LOAN_PURPOSE,NAME_CONTRACT_STATUS,NAME_PAYMENT_TYPE,CODE_REJECT_REASON,NAME_CLIENT_TYPE,NAME_GOODS_CATEGORY,NAME_PORTFOLIO,CHANNEL_TYPE,NAME_SELLER_INDUSTRY,NAME_YIELD_GROUP,PRODUCT_COMBINATION
0,Consumer loans,XAP,Approved,Cash through the bank,XAP,Repeater,Mobile,POS,Country-wide,Connectivity,middle,POS mobile with interest
1,Consumer loans,XAP,Refused,Cash through the bank,SCO,Repeater,Clothing and Accessories,POS,Regional / Local,Furniture,low_normal,POS industry with interest
2,Consumer loans,XAP,Approved,Cash through the bank,XAP,New,Furniture,POS,Stone,Furniture,middle,POS industry with interest
3,Cash loans,XNA,Approved,XNA,XAP,Repeater,XNA,Cash,Contact center,XNA,low_action,Cash X-Sell: low
4,Cash loans,XNA,Approved,XNA,XAP,Repeater,XNA,Cash,AP+ (Cash loan),XNA,low_normal,Cash X-Sell: low

In [17]:
df = pa[["SK_ID_PREV", "SK_ID_CURR", "TARGET"] + n_heads]
df.head()

,SK_ID_PREV,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,NAME_CASH_LOAN_PURPOSE,NAME_CONTRACT_STATUS,NAME_PAYMENT_TYPE,CODE_REJECT_REASON,NAME_CLIENT_TYPE,NAME_GOODS_CATEGORY,NAME_PORTFOLIO,CHANNEL_TYPE,NAME_SELLER_INDUSTRY,NAME_YIELD_GROUP,PRODUCT_COMBINATION
0,2030495,271877,0,Consumer loans,XAP,Approved,Cash through the bank,XAP,Repeater,Mobile,POS,Country-wide,Connectivity,middle,POS mobile with interest
1,1696966,271877,0,Consumer loans,XAP,Refused,Cash through the bank,SCO,Repeater,Clothing and Accessories,POS,Regional / Local,Furniture,low_normal,POS industry with interest
2,2154916,271877,0,Consumer loans,XAP,Approved,Cash through the bank,XAP,New,Furniture,POS,Stone,Furniture,middle,POS industry with interest
3,2802425,108129,0,Cash loans,XNA,Approved,XNA,XAP,Repeater,XNA,Cash,Contact center,XNA,low_action,Cash X-Sell: low
4,1536272,108129,0,Cash loans,XNA,Approved,XNA,XAP,Repeater,XNA,Cash,AP+ (Cash loan),XNA,low_normal,Cash X-Sell: low

In [18]:
n_heads

['NAME_CONTRACT_TYPE',
 'NAME_CASH_LOAN_PURPOSE',
 'NAME_CONTRACT_STATUS',
 'NAME_PAYMENT_TYPE',
 'CODE_REJECT_REASON',
 'NAME_CLIENT_TYPE',
 'NAME_GOODS_CATEGORY',
 'NAME_PORTFOLIO',
 'CHANNEL_TYPE',
 'NAME_SELLER_INDUSTRY',
 'NAME_YIELD_GROUP',
 'PRODUCT_COMBINATION']

In [19]:
for index, head in enumerate(n_heads):
    a = df[["SK_ID_CURR", head]].groupby(by=["SK_ID_CURR", head]).size().unstack(fill_value=0)
    a.columns = [head + " " + el for el in list(a.columns)]
    if index == 0:
        result = a
    else:
        result = pd.merge(result, a, left_index=True, right_index=True)
df = result

In [20]:
df = pd.merge(df, app_train[["SK_ID_CURR","TARGET"]] ,on="SK_ID_CURR")
df = df.set_index("SK_ID_CURR")

In [21]:
df.head()

,NAME_CONTRACT_TYPE Cash loans,NAME_CONTRACT_TYPE Consumer loans,NAME_CONTRACT_TYPE Revolving loans,NAME_CONTRACT_TYPE XNA,NAME_CASH_LOAN_PURPOSE Building a house or an annex,NAME_CASH_LOAN_PURPOSE Business development,NAME_CASH_LOAN_PURPOSE Buying a garage,NAME_CASH_LOAN_PURPOSE Buying a holiday home / land,NAME_CASH_LOAN_PURPOSE Buying a home,NAME_CASH_LOAN_PURPOSE Buying a new car,NAME_CASH_LOAN_PURPOSE Buying a used car,NAME_CASH_LOAN_PURPOSE Car repairs,NAME_CASH_LOAN_PURPOSE Education,NAME_CASH_LOAN_PURPOSE Everyday expenses,NAME_CASH_LOAN_PURPOSE Furniture,NAME_CASH_LOAN_PURPOSE Gasification / water supply,NAME_CASH_LOAN_PURPOSE Hobby,NAME_CASH_LOAN_PURPOSE Journey,NAME_CASH_LOAN_PURPOSE Medicine,NAME_CASH_LOAN_PURPOSE Money for a third person,NAME_CASH_LOAN_PURPOSE Other,NAME_CASH_LOAN_PURPOSE Payments on other loans,NAME_CASH_LOAN_PURPOSE Purchase of electronic equipment,NAME_CASH_LOAN_PURPOSE Refusal to name the goal,NAME_CASH_LOAN_PURPOSE Repairs,NAME_CASH_LOAN_PURPOSE Urgent needs,NAME_CASH_LOAN_PURPOSE Wedding / gift / holiday,NAME_CASH_LOAN_PURPOSE XAP,NAME_CASH_LOAN_PURPOSE XNA,NAME_CONTRACT_STATUS Approved,NAME_CONTRACT_STATUS Canceled,NAME_CONTRACT_STATUS Refused,NAME_CONTRACT_STATUS Unused offer,NAME_PAYMENT_TYPE Cash through the bank,NAME_PAYMENT_TYPE Cashless from the account of the employer,NAME_PAYMENT_TYPE Non-cash from your account,NAME_PAYMENT_TYPE XNA,CODE_REJECT_REASON CLIENT,CODE_REJECT_REASON HC,CODE_REJECT_REASON LIMIT,CODE_REJECT_REASON SCO,CODE_REJECT_REASON SCOFR,CODE_REJECT_REASON SYSTEM,CODE_REJECT_REASON VERIF,CODE_REJECT_REASON XAP,CODE_REJECT_REASON XNA,NAME_CLIENT_TYPE New,NAME_CLIENT_TYPE Refreshed,NAME_CLIENT_TYPE Repeater,NAME_CLIENT_TYPE XNA,NAME_GOODS_CATEGORY Additional Service,NAME_GOODS_CATEGORY Animals,NAME_GOODS_CATEGORY Audio/Video,NAME_GOODS_CATEGORY Auto Accessories,NAME_GOODS_CATEGORY Clothing and Accessories,NAME_GOODS_CATEGORY Computers,NAME_GOODS_CATEGORY Construction Materials,NAME_GOODS_CATEGORY Consumer Electronics,NAME_GOODS_CATEGORY Direct Sales,NAME_GOODS_CATEGORY Education,NAME_GOODS_CATEGORY Fitness,NAME_GOODS_CATEGORY Furniture,NAME_GOODS_CATEGORY Gardening,NAME_GOODS_CATEGORY Homewares,NAME_GOODS_CATEGORY Insurance,NAME_GOODS_CATEGORY Jewelry,NAME_GOODS_CATEGORY Medical Supplies,NAME_GOODS_CATEGORY Medicine,NAME_GOODS_CATEGORY Mobile,NAME_GOODS_CATEGORY Office Appliances,NAME_GOODS_CATEGORY Other,NAME_GOODS_CATEGORY Photo / Cinema Equipment,NAME_GOODS_CATEGORY Sport and Leisure,NAME_GOODS_CATEGORY Tourism,NAME_GOODS_CATEGORY Vehicles,NAME_GOODS_CATEGORY Weapon,NAME_GOODS_CATEGORY XNA,NAME_PORTFOLIO Cards,NAME_PORTFOLIO Cars,NAME_PORTFOLIO Cash,NAME_PORTFOLIO POS,NAME_PORTFOLIO XNA,CHANNEL_TYPE AP+ (Cash loan),CHANNEL_TYPE Car dealer,CHANNEL_TYPE Channel of corporate sales,CHANNEL_TYPE Contact center,CHANNEL_TYPE Country-wide,CHANNEL_TYPE Credit and cash offices,CHANNEL_TYPE Regional / Local,CHANNEL_TYPE Stone,NAME_SELLER_INDUSTRY Auto technology,NAME_SELLER_INDUSTRY Clothing,NAME_SELLER_INDUSTRY Connectivity,NAME_SELLER_INDUSTRY Construction,NAME_SELLER_INDUSTRY Consumer electronics,NAME_SELLER_INDUSTRY Furniture,NAME_SELLER_INDUSTRY Industry,NAME_SELLER_INDUSTRY Jewelry,NAME_SELLER_INDUSTRY MLM partners,NAME_SELLER_INDUSTRY Tourism,NAME_SELLER_INDUSTRY XNA,NAME_YIELD_GROUP XNA,NAME_YIELD_GROUP high,NAME_YIELD_GROUP low_action,NAME_YIELD_GROUP low_normal,NAME_YIELD_GROUP middle,PRODUCT_COMBINATION Card Street,PRODUCT_COMBINATION Card X-Sell,PRODUCT_COMBINATION Cash,PRODUCT_COMBINATION Cash Street: high,PRODUCT_COMBINATION Cash Street: low,PRODUCT_COMBINATION Cash Street: middle,PRODUCT_COMBINATION Cash X-Sell: high,PRODUCT_COMBINATION Cash X-Sell: low,PRODUCT_COMBINATION Cash X-Sell: middle,PRODUCT_COMBINATION POS household with interest,PRODUCT_COMBINATION POS household without interest,PRODUCT_COMBINATION POS industry with interest,PRODUCT_COMBINATION POS industry without interest,PRODUCT_COMBINATION POS mobile with interest,PRODUCT_COMBINATION POS mobile without interest,PRODUCT_COMBINATION POS other with interest,PRODUCT_COMBINATION POS others without interest,TARGET
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
100002,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1
100003,1,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,1,3,0,0,0,2,0,0,1,0,0,0,0,0,0,0,3,0,0,2,1,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,2,0,0,0,0,0,1,1,0,1,0,0,0,0,1,1,0,0,0,0,1,0,0,0,1,2,0,0,0,0,0,0,0,1,0,1,0,1,0,0,0,0,0,0
100004,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
100006,5,2,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,4,5,5,3,1,0,4,0,0,5,0,0,1,0,0,0,0,8,0,1,0,8,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,7,1,0,3,2,3,0,0,0,0,1,7,0,1,0,0,0,1,1,0,0,0,0,0,7,4,2,0,2,1,1,1,2,0,0,0,1,2,0,1,0,1,0,0,0,0,0,0
100007,4,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,4,6,0,0,0,5,0,0,1,0,0,0,0,0,0,0,6,0,1,0,5,0,0,0,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,4,0,0,4,2,0,1,0,0,0,3,1,1,0,0,0,1,0,3,0,0,0,0,0,2,0,3,0,0,3,0,0,0,1,0,0,0,0,3,1,0,0,0,1,0,0,0,0

In [22]:
n_heads = list(df.columns)
n_heads = [head for head in n_heads if head not in ["TARGET"]]

In [42]:
payback = df[df["TARGET"] == 0]
default = df[df["TARGET"] == 1]

In [43]:
rates = []
heads = []
for head in n_heads:

    pays = payback[head].value_counts()
    defs = default[head].value_counts()

    pays = pays/pays.sum()*100
    defs = defs/defs.sum()*100
    diff = abs(pays-defs)
    d1 = max(diff.sort_values(ascending=False))
    try:
        diff = abs(pays[[i for i in pays.index if i not in defs.index]])
        d2 = max(diff.sort_values(ascending=False))
    except ValueError:
        d2 = 0
    try:
        diff = abs(defs[[i for i in defs.index if i not in pays.index]])
        d3 = max(diff.sort_values(ascending=False))
    except ValueError:
        d3 = 0
    rates.append(max([d1,d2,d3]))
    heads.append(head)
    
    result = {
          "Cats":heads,
          "Rate":rates
         }
result = pd.DataFrame(result).sort_values("Rate", ascending=False)
result

                                                            Cats      Rate
31                                  NAME_CONTRACT_STATUS Refused  9.754297
38                                         CODE_REJECT_REASON HC  7.215312
104                                  NAME_YIELD_GROUP low_normal  6.929703
2                             NAME_CONTRACT_TYPE Revolving loans  6.371934
106                              PRODUCT_COMBINATION Card Street  6.168984
46                                          NAME_CLIENT_TYPE New  6.153663
102                                        NAME_YIELD_GROUP high  6.146903
77                                          NAME_PORTFOLIO Cards  6.032320
113                         PRODUCT_COMBINATION Cash X-Sell: low  5.514512
47                                    NAME_CLIENT_TYPE Refreshed  5.249064
117               PRODUCT_COMBINATION POS industry with interest  5.225456
39                                      CODE_REJECT_REASON LIMIT  4.765770
103                                  NAME_YIELD_GROUP low_action  4.750838
101                                         NAME_YIELD_GROUP XNA  4.456490
112                        PRODUCT_COMBINATION Cash X-Sell: high  4.334008
109                        PRODUCT_COMBINATION Cash Street: high  4.203923
92                             NAME_SELLER_INDUSTRY Connectivity  4.181099
81                                            NAME_PORTFOLIO XNA  4.163343
29                                 NAME_CONTRACT_STATUS Approved  4.148769
89                                            CHANNEL_TYPE Stone  4.112573
61                                 NAME_GOODS_CATEGORY Furniture  3.818677
116           PRODUCT_COMBINATION POS household without interest  3.776446
94                     NAME_SELLER_INDUSTRY Consumer electronics  3.756048
57                      NAME_GOODS_CATEGORY Consumer Electronics  3.636354
95                                NAME_SELLER_INDUSTRY Furniture  3.628005
36                                         NAME_PAYMENT_TYPE XNA  3.621875
41                                      CODE_REJECT_REASON SCOFR  3.503140
80                                            NAME_PORTFOLIO POS  3.355277
82                                  CHANNEL_TYPE AP+ (Cash loan)  3.225160
108                                     PRODUCT_COMBINATION Cash  3.106988
1                              NAME_CONTRACT_TYPE Consumer loans  2.936119
119                 PRODUCT_COMBINATION POS mobile with interest  2.918743
44                                        CODE_REJECT_REASON XAP  2.869797
24                                NAME_CASH_LOAN_PURPOSE Repairs  2.736989
76                                       NAME_GOODS_CATEGORY XNA  2.668295
111                      PRODUCT_COMBINATION Cash Street: middle  2.622350
85                                   CHANNEL_TYPE Contact center  2.513506
68                                    NAME_GOODS_CATEGORY Mobile  2.362783
100                                     NAME_SELLER_INDUSTRY XNA  2.341571
30                                 NAME_CONTRACT_STATUS Canceled  2.314660
33                       NAME_PAYMENT_TYPE Cash through the bank  2.171090
115              PRODUCT_COMBINATION POS household with interest  2.086477
0                                  NAME_CONTRACT_TYPE Cash loans  2.034756
105                                      NAME_YIELD_GROUP middle  2.032473
107                              PRODUCT_COMBINATION Card X-Sell  1.982574
54                  NAME_GOODS_CATEGORY Clothing and Accessories  1.952819
91                                 NAME_SELLER_INDUSTRY Clothing  1.895989
114                      PRODUCT_COMBINATION Cash X-Sell: middle  1.793409
20                                  NAME_CASH_LOAN_PURPOSE Other  1.782802
88                                 CHANNEL_TYPE Regional / Local  1.735268
79                                           NAME_PORTFOLIO Cash  1.725002
40                                        CODE_REJECT_REASON SCO  1.677129
118            PRODUCT_COMBINATION POS industry without interest  1.576169
93                             NAME_SELLER_INDUSTRY Construction  1.537411
25                           NAME_CASH_LOAN_PURPOSE Urgent needs  1.469186
52                               NAME_GOODS_CATEGORY Audio/Video  1.447239
87                          CHANNEL_TYPE Credit and cash offices  1.335123
56                    NAME_GOODS_CATEGORY Construction Materials  1.018780
110                         PRODUCT_COMBINATION Cash Street: low  0.998386
48                                     NAME_CLIENT_TYPE Repeater  0.828248
28                                    NAME_CASH_LOAN_PURPOSE XNA  0.797057
96                                 NAME_SELLER_INDUSTRY Industry  0.767632
55                                 NAME_GOODS_CATEGORY Computers  0.684280
71                  NAME_GOODS_CATEGORY Photo / Cinema Equipment  0.639113
27                                    NAME_CASH_LOAN_PURPOSE XAP  0.539477
86                                     CHANNEL_TYPE Country-wide  0.480018
10                      NAME_CASH_LOAN_PURPOSE Buying a used car  0.399017
4            NAME_CASH_LOAN_PURPOSE Building a house or an annex  0.381845
21                NAME_CASH_LOAN_PURPOSE Payments on other loans  0.380795
66                          NAME_GOODS_CATEGORY Medical Supplies  0.355009
90                          NAME_SELLER_INDUSTRY Auto technology  0.342227
18                               NAME_CASH_LOAN_PURPOSE Medicine  0.341304
120              PRODUCT_COMBINATION POS mobile without interest  0.302039
45                                        CODE_REJECT_REASON XNA  0.289977
11                            NAME_CASH_LOAN_PURPOSE Car repairs  0.266776
63                                 NAME_GOODS_CATEGORY Homewares  0.262186
70                                     NAME_GOODS_CATEGORY Other  0.247970
84                       CHANNEL_TYPE Channel of corporate sales  0.247827
121                  PRODUCT_COMBINATION POS other with interest  0.244019
43                                      CODE_REJECT_REASON VERIF  0.207386
53                          NAME_GOODS_CATEGORY Auto Accessories  0.184633
73                                   NAME_GOODS_CATEGORY Tourism  0.179902
13                      NAME_CASH_LOAN_PURPOSE Everyday expenses  0.176243
74                                  NAME_GOODS_CATEGORY Vehicles  0.169658
26               NAME_CASH_LOAN_PURPOSE Wedding / gift / holiday  0.163352
3                                         NAME_CONTRACT_TYPE XNA  0.149525
22       NAME_CASH_LOAN_PURPOSE Purchase of electronic equipment  0.140713
72                         NAME_GOODS_CATEGORY Sport and Leisure  0.139010
62                                 NAME_GOODS_CATEGORY Gardening  0.136039
65                                   NAME_GOODS_CATEGORY Jewelry  0.120132
12                              NAME_CASH_LOAN_PURPOSE Education  0.115597
67                                  NAME_GOODS_CATEGORY Medicine  0.110676
49                                          NAME_CLIENT_TYPE XNA  0.099505
32                             NAME_CONTRACT_STATUS Unused offer  0.098475
37                                     CODE_REJECT_REASON CLIENT  0.098475
14                              NAME_CASH_LOAN_PURPOSE Furniture  0.098355
17                                NAME_CASH_LOAN_PURPOSE Journey  0.093239
98                             NAME_SELLER_INDUSTRY MLM partners  0.086236
122              PRODUCT_COMBINATION POS others without interest  0.086057
15            NAME_CASH_LOAN_PURPOSE Gasification / water supply  0.063690
5                    NAME_CASH_LOAN_PURPOSE Business development  0.062359
99                                  NAME_SELLER_INDUSTRY Tourism  0.057972
97                                  NAME_SELLER_INDUSTRY Jewelry  0.051356
83                                       CHANNEL_TYPE Car dealer  0.050487
78                                           NAME_PORTFOLIO Cars  0.042628
9                        NAME_CASH_LOAN_PURPOSE Buying a new car  0.039090
34   NAME_PAYMENT_TYPE Cashless from the account of the employer  0.034367
8                           NAME_CASH_LOAN_PURPOSE Buying a home  0.031695
7            NAME_CASH_LOAN_PURPOSE Buying a holiday home / land  0.030988
16                                  NAME_CASH_LOAN_PURPOSE Hobby  0.026142
60                                   NAME_GOODS_CATEGORY Fitness  0.024908
35                  NAME_PAYMENT_TYPE Non-cash from your account  0.024233
42                                     CODE_REJECT_REASON SYSTEM  0.023341
69                         NAME_GOODS_CATEGORY Office Appliances  0.013138
64                                 NAME_GOODS_CATEGORY Insurance  0.012064
50                        NAME_GOODS_CATEGORY Additional Service  0.011964
75                                    NAME_GOODS_CATEGORY Weapon  0.010698
19               NAME_CASH_LOAN_PURPOSE Money for a third person  0.009665
59                                 NAME_GOODS_CATEGORY Education  0.006725
23               NAME_CASH_LOAN_PURPOSE Refusal to name the goal  0.005019
6                         NAME_CASH_LOAN_PURPOSE Buying a garage  0.004402
58                              NAME_GOODS_CATEGORY Direct Sales  0.003445
51                                   NAME_GOODS_CATEGORY Animals  0.000374

In [44]:
result[result["Rate"] >= 5]

                                               Cats      Rate
31                     NAME_CONTRACT_STATUS Refused  9.754297
38                            CODE_REJECT_REASON HC  7.215312
104                     NAME_YIELD_GROUP low_normal  6.929703
2                NAME_CONTRACT_TYPE Revolving loans  6.371934
106                 PRODUCT_COMBINATION Card Street  6.168984
46                             NAME_CLIENT_TYPE New  6.153663
102                           NAME_YIELD_GROUP high  6.146903
77                             NAME_PORTFOLIO Cards  6.032320
113            PRODUCT_COMBINATION Cash X-Sell: low  5.514512
47                       NAME_CLIENT_TYPE Refreshed  5.249064
117  PRODUCT_COMBINATION POS industry with interest  5.225456

In [45]:
n_heads = result[result["Rate"] >= 5].Cats.values

In [46]:
# transformiert kategorische variablen in integer
for head in n_heads:
    df[head], cats = pd.factorize(df[head])

In [47]:
df = df[n_heads]

In [48]:
df.head()

,NAME_CONTRACT_STATUS Refused,CODE_REJECT_REASON HC,NAME_YIELD_GROUP low_normal,NAME_CONTRACT_TYPE Revolving loans,PRODUCT_COMBINATION Card Street,NAME_CLIENT_TYPE New,NAME_YIELD_GROUP high,NAME_PORTFOLIO Cards,PRODUCT_COMBINATION Cash X-Sell: low,NAME_CLIENT_TYPE Refreshed,PRODUCT_COMBINATION POS industry with interest
SK_ID_CURR,,,,,,,,,,,
100002,0,0,0,0,0,0,0,0,0,0,0
100003,0,0,0,0,0,1,0,0,1,1,1
100004,0,0,1,0,0,0,0,0,0,0,0
100006,1,0,2,1,1,0,1,1,2,0,1
100007,0,0,1,0,0,0,2,0,0,0,0

In [49]:
df.to_csv(DATASET_DIR / "Datenaufbereitung" / "pa_cats.csv")